.topHeaderContainer {
  justify-content: space-between !important;
  padding: 15px 28px !important;
  position: sticky !important;
  z-index: 1 !important;
  left: 0;

  // @media (max-width: 1300px) {
  //   flex-direction: column !important;
  // }
}